/* line 1, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
body { -webkit-font-smoothing: antialiased; }

/* line 4, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.jumbotron { background-color: #C9CDDA; }
/* line 6, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.jumbotron h1 { color: #fff; }
/* line 8, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.jumbotron .lead { color: #666; }
/* line 10, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.jumbotron .btn { background-color: #563d7c; border-color: #563d7c; }
/* line 13, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.jumbotron .btn:hover { background-color: #6A528F; }

/* PrettyPrint */
/* line 17, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.com { color: #93a1a1; }

/* line 19, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.lit { color: #195f91; }

/* line 21, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.pun, .opn, .clo { color: #93a1a1; }

/* line 23, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.fun { color: #dc322f; }

/* line 25, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.str, .atv { color: #D14; }

/* line 27, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.kwd, .linenums .tag { color: #1e347b; }

/* line 29, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.typ, .atn, .dec, .var { color: teal; }

/* line 31, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.pln { color: #48484c; }

/* line 33, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.prettyprint { padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; }

/* line 37, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.prettyprint.linenums { -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; }

/* line 43, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
ol.linenums { margin: 0 0 0 33px; }

/* line 45, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
ol.linenums li { padding-left: 12px; color: #bebec5; line-height: 18px; text-shadow: 0 1px 0 #fff; }

@font-face { font-family: "mplus-2m-regular"; font-weight: normal; src: url("/jquery.kerning.js/fonts/mplus-2m-regular-sub.eot") format("eot"); src: url("/jquery.kerning.js/fonts/mplus-2m-regular-sub.woff") format("woff"); src: url("/jquery.kerning.js/fonts/mplus-2m-regular-sub.ttf") format("truetype"); }
@font-face { font-family: "utsukushi-mincho"; font-weight: normal; src: url("/jquery.kerning.js/fonts/UtsukushiFONT.otf") format("opentype"); src: url("/jquery.kerning.js/fonts/UtsukushiMincho.ttf") format("truetype"); }
/* line 63, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.mplus { font-family: "mplus-2m-regular"; }

/* line 65, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.utsukushi { font-family: "utsukushi-mincho"; }

/* line 67, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.example { font-size: 20px; color: #111; margin-bottom: 3em; }

/* line 71, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
b.example { font-size: 28px; margin: 0.5em 0; display: block; font-weight: normal; }

/* line 76, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.feature { font-size: 18px; color: #111; }

/* line 80, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
h6 a, h6:hover { color: #333; text-decoration: none; }

/* line 85, /Users/terada/Sites/jquery.kerning.js/source/style/index.sass */
.footer a { color: #777; text-decoration: none; }
