/* line 6, /Users/terada/Sites/jquery.kerning.js/source/style/maker.sass */
html { height: 100%; }

/* line 9, /Users/terada/Sites/jquery.kerning.js/source/style/maker.sass */
body { padding: 30px; height: -webkit-calc(100% - 100px); }

/* line 13, /Users/terada/Sites/jquery.kerning.js/source/style/maker.sass */
#dropzone { border: 1px dashed #bbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 25px; margin-bottom: 30px; text-align: center; font-size: 20px; font-weight: bold; color: #bbb; }

/* line 23, /Users/terada/Sites/jquery.kerning.js/source/style/maker.sass */
#output { width: 100%; height: -webkit-calc(100% - 100px); resize: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #333; color: #8A589E; border-color: #bbb; }
