!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Kerning Data Maker
    %meta{content: "", lang: "ja", name: "description", "xml:lang" => "ja"}
    %meta{content: "", lang: "ja", name: "keywords", "xml:lang" => "ja"}
    %meta{content: "Naokazu Terada (C) All Rights Reserved.", name: "copyright"}
    =stylesheet_link_tag 'maker'
    /[if lt IE 9]
      =javascript_include_tag 'lib/html5.js'
      =javascript_include_tag 'lib/DD_belatedPNG.js'
    =javascript_include_tag 'lib/jquery-1.10.2.min.js'
    =javascript_include_tag 'lib/jquery.easing.1.3.js'
    =javascript_include_tag 'script/maker'
  %body
    =partial 'layouts/ga'
    #dropzone Drop font file here
    %textarea#output